{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %} {% translate 'Просмотр задачи' %}{% endblock %}

{% block content %}
<h2> {% translate 'Просмотр задачи' %} </h2>
<h3 class="card-header bg-secondary text-white" > {{ task.name }}</h3>
<h3> {{ task.description }}</h3>
<ul class="card-body bg-light">
    <ol>{% translate 'Автор' %} {{ task.author }}</ol>
    <ol>{% translate 'Исполнитель' %} {{ task.executor }}</ol>
    <ol>{% translate 'Статус' %} {{ task.status }}</ol>
    <ol>{% translate 'Дата создания' %}  {{ task.time_create }}</ol>
    <ol>{% translate 'Метки' %} 
        <ul>
            {% for label in task.label.all %}
            <li> {{ label }} </li>
            {% endfor %}
        </ul>
    </ol>
</ul>
          <a href="{% url 'update_status' pk=task.id %}">{% translate 'Изменить' %}</a>
          <br>
          <a href="{% url 'delete_status' pk=task.id %}">{% translate 'Удалить' %}</a>
{% endblock %}