{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load i18n %}


{% block title %} {% translate 'Просмотр задачи' %}{% endblock %}

{% block content %}
<h2> Просмотр задачи </h2>
<h3 class="card-header bg-secondary text-white" > {{ task.name }}</h3>
<h3> {{ task.description }}</h3>
<ul class="card-body bg-light">
    <ol>Автор {{ task.author }}</ol>
    <ol>Исполнитель {{ task.executor }}</ol>
    <ol>Статус {{ task.status }}</ol>
    <ol>Дата создания {{ task.time_create }}</ol>
</ul>
          <a href="{% url 'update_status' pk=task.id %}">{% translate 'Изменить' %}</a>
          <br>
          <a href="{% url 'delete_status' pk=task.id %}">{% translate 'Удалить' %}</a>
{% endblock %}