{% extends 'base-layout.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %} {% translate 'Task view' %}{% endblock %}

{% block content %}
<h2> {% translate 'Task view' %} </h2>
<h3 class="card-header bg-secondary text-white" > {{ task.name }}</h3>
<h3> {{ task.description }}</h3>
<ul class="card-body bg-light">
    <ol>{% translate 'Author' %} {{ task.author }}</ol>
    <ol>{% translate 'Executor' %} {{ task.executor }}</ol>
    <ol>{% translate 'Status' %} {{ task.status }}</ol>
    <ol>{% translate 'Date of creation' %}  {{ task.time_create }}</ol>
    <ol>{% translate 'Labels' %} 
        <ul>
            {% for label in task.labels.all %}
            <li> {{ label }} </li>
            {% endfor %}
        </ul>
    </ol>
</ul>
          <a href="{% url 'update_status' pk=task.id %}">{% translate 'Update' %}</a>
          <br>
          <a href="{% url 'delete_status' pk=task.id %}">{% translate 'Delete' %}</a>
{% endblock %}