{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}


<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load i18n %}
    <title>{% block title %}{% endblock %}{% translate 'Главная' %}</title>
</head>
<body>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="/">{% trans 'Менеджер задач' %}</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users/">{% trans 'Пользователи' %}</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'statuses' %}">{% trans 'Статусы' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'labels' %}">{% trans 'Метки' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks' %}">{% trans 'Задачи' %}</a>
          </li>
          {% endif %}

          
        </ul>
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">{% trans 'Выход' %}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">{% trans 'Вход' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create' %}">{% trans 'Регистрация' %}</a>
            </li>
            {% endif %}
            
          
        </ul>
      </div>
    </nav>
  </body>
  
  
<main role="main" class="container" style="margin-top: 120px">
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                   <div class="alert {% if message.tags == 'warning' %} alert-warning
                                     {% elif message.tags == 'success' %} alert-success
                                     {% else %} alert-primary
                                     {% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
      </div>
    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>
</html>