{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load i18n %}

{% block title %} {% translate 'Вход' %} {% endblock %}

{% block content %}
<h1 class="my-4 mx-auto">
        
{% translate 'Вход' %}

</h1>

<form method="post" class="mx-auto" action="{% url 'login' %}">
{% bootstrap_form form %} 
    {% csrf_token %}
  <button class="btn btn-primary" type="submit">{% translate 'Войти' %}</button>
</form>

<!--{# Assumes you setup the password_reset view in your URLconf #}-->
<!--<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>-->

{% endblock %}